<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <header>
    <div>
      <ul class="toolbar">
      <% if user_logged_in?() %>
        <li> <a href="/souperb/create">New recipe</a></li>
        <li><%= current_user()["username"] %></li>
        <li class="signout_tb">
          <form action="/signout" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Log out">
          </form>
        </li>
      <% else %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>
      <% end %>
      </ul>
    </div>
    <div class="logo">
      <a href="/"><h1><strong>SOUP</strong>ERB</h1></a>  
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <div class="footer_container">
      <div>
        <ul>
          <li><strong>SOUP</strong>ERB</li>
          <li>About us</li>
          <li>Our team</li>
          <li>FAQ</li>
          <li>Contact us</li>
        </ul>
      </div>
      <div>
        <ul>
          <li><strong>Categories</strong></li>
          <li>Breakfast</li>
          <li>Lunch</li>
          <li>Dinner</li>
          <li>Dessert</li>
          <li>Favourite</li>
          <li>All</li>
        </ul>
      </div>
      <div>
        <ul>
          <li><strong>Social</strong></li>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
      </div>
    </div>
    <div>
      <ul class="footer_terms">
        <li>©<strong>SOUP</strong>ERB</li>
        <li>Terms</li>
        <li>|</li>
        <li>Privacy</li>
        <li>|</li>
        <li>Code of conduct</li>
      </ul>
    </div>
  </footer>
</body>
</html>
