<div class="signup_container">
  <div class="signup">
    <div class="small_text">
      <%= error %>
    </div>
      <form action="signup" method="POST">
        <div class="username_box">
          <label for="username"> <p>Username</p></label>
          <input type="text" placeholder="Username" name="username">
        </div>
        <div class="email_box">
          <label for="email"> <p>Email</p> </label>
          <input type="email" placeholder="Email" name="email">
        </div>

        <div class="password_box">
          <label for="password"> <p>Password</p></label>
          <input type="password" name="password">
        </div>

        <div class="btn">
          <input type="submit" value="SIGN UP">
        </div>
      </form>
    </div>
  </div>
</div>