<h1>Souperb</h1>

<div class="all_category_container">
  <form action="/category" method="POST">
    <div class="button_container">
      <img src="https://images.unsplash.com/photo-1601063458289-77247ba485ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" alt="breakfast" style="width:100%">
        <input class="btn" type="submit" value="Breakfast" name="category">
    </div>
  </form>
  <form action="/category" method="POST">
    <div class="button_container">
      <img src="https://images.unsplash.com/photo-1601063458289-77247ba485ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" alt="lunch" style="width:100%">
        <input class="btn" type="submit" value="Lunch" name="category">
    </div>
  </form>
    <form action="/category" method="POST">
    <div class="button_container">
      <img src="https://images.unsplash.com/photo-1601063458289-77247ba485ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" alt="dinner" style="width:100%">
        <input class="btn" type="submit" value="Dinner" name="category">
    </div>
  </form>
    <form action="/category" method="POST">
    <div class="button_container">
      <img src="https://images.unsplash.com/photo-1601063458289-77247ba485ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" alt="dessert" style="width:100%">
        <input class="btn" type="submit" value="Dessert" name="category">
    </div>
  </form>
    <form action="/category" method="POST">
    <div class="button_container">
      <img src="https://images.unsplash.com/photo-1601063458289-77247ba485ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" alt="favourites" style="width:100%">
        <input class="btn" type="submit" value="Favourite" name="category">
    </div>
  </form>
    <form action="/category" method="POST">
    <div class="button_container">
      <img src="https://images.unsplash.com/photo-1601063458289-77247ba485ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80" alt="all" style="width:100%">
        <input class="btn" type="submit" value="All" name="category">
    </div>
  </form>
  </div>
</div>
